 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/header.css">
 </head>
   <header>
    <div class="nav-menu">
      <h1>NodeJS</h1>
      <div>
        <a href="/">Home</a>
        <a href="blogs">Blogs</a>
        <a href="about">About</a>
      </div>
      <button>Search</button>
      <button><a href="signupmenu">SIGN UP</a></button>
    </div>
  </header>
 <body>
  
 </body>
 </html>