<div>
    <h2>SIGN UP</h2>
    <div>
        <form action="/signup/create-account" class="create-menu" method="post" enctype="multipart/form-data">
            <div>
                <label for="">Username</label>
                <input name="username" class="input" type="text" placeholder="Input your username" />
            </div>
            <div>
                <label for="">E-mail</label>
                <input name="email" class="input" type="text" placeholder="Input your email" />
            </div>
            <div>
                <label for="">Password</label>
                <input name="password" class="input" type="text" placeholder="Input your email" />
            </div>
            <div>
                <label for="">Date of Birth</label>
                <input type="date" name="dateOfBirth" class="input">
            </div>
            <div>
                <button class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>